/* Style général */
.root {
    -fx-font-family: 'Arial';
    -fx-font-size: 14px;
}

/* Style des boutons */
.button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
}

.button:hover {
    -fx-background-color: #45a049;
}

/* Style des labels */
.label {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
}

/* Style de la TableView */
.table-view {
    -fx-background-color: #f9f9f9;
    -fx-border-color: #cccccc;
    -fx-border-radius: 5px;
}

.table-row-cell {
    -fx-background-color: #ffffff;
}

.table-row-cell:odd {
    -fx-background-color: #f2f2f2;
}

/* Style des champs de texte */
.text-field {
    -fx-pref-width: 200px;
    -fx-padding: 5px;
    -fx-border-color: #cccccc;
    -fx-border-radius: 5px;
}